@model IEnumerable<GraniteHouse.Models.Products>
@{
    ViewData["Title"] = "Index";
}

<br /><br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Product List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; New Product</a>
    </div>
</div>

<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(x => x.Name)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.Price)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.Available)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.ProductTypes)
            </th>
            <th>
                @Html.DisplayNameFor(x => x.SpecialTags)
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var i in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(x => i.Name)
            </td>
            <td>
                @String.Format("{0:c}",i.Price)
                @*@Html.DisplayFor(x => i.Price)*@
            </td>
            <td>
                @Html.DisplayFor(x => i.Available)
            </td>
            <td>
                @Html.DisplayFor(x => i.ProductTypes.Name)
            </td>
            <td>
                @if (!i.SpecialTags.Name.Equals("None"))
                {
                    @Html.DisplayFor(x => i.SpecialTags.Name)
                }
            </td>
            <td>
                <partial name="_TableButtons" model="i.Id" />
            </td>
        </tr>
        }
    </table>
</div>
